<div class="container">
  <div class="row mt-4">
    <% data.sounds.each do |sound| %>
      <div class="col-sm-6 col-md-4 mt-4">
        <button class="btn btn-success btn-lg btn-block btn-sound" onclick="playSound('<%= sound.file %>');">
          <%= sound.title %>
        </button>
      </div>
    <% end %>
    <div class="col-md-4 mt-4">
      <button class="btn btn-danger btn-lg btn-block btn-sound" onclick="stopSounds();">
        Stop!
      </button>
    </div>
  </div>
</div>
