---
title: Soundboard
---

<div class="sounds">
  <div class="sound">
    <h2>The Price Is Wrong</h2>
    <audio controls src="sounds/price-is-wrong.mp3"></audio>
  </div>
  <div class="sound">
    <h2>Jeopardy Countdown</h2>
    <audio controls src="sounds/jeopardy-countdown.mp3"></audio>
  </div>
</div>
